@page "/tasklist"

@usign Components.TaskList.TaskList

<div>
    <div class="row">
    <input class="col-sm-5" type="text" bind="@currentTask"  />
    <button class="col-sm-3" onclick="@addTask">Add Task</button>
    </div>

    <ul>
        @foreach(var task in task) {
            <li bind="@task"></li>
        }
    </ul> 
</div>