@page "/tasklist/{id}" 
@layout MainLayout
@using WebApplication1.Data.Tasks
@inherits TaskDetailBase

<h1> Task: @task.Text </h1>
<h2> Created: @task.CreationDate</h2>
<h3> Updated: @task.LastUpdate</h3>
<h4> Status: @task.Status </h4>
<div> 
    <NavLink href="/tasklist">Go Back</NavLink>
</div>